@import url("https://fonts.googleapis.com/css?family=Merriweather");
* {
  font-family: "Merriweather", "Times New Roman", Times, serif;
  color: white;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url(../assets/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #0f766e;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#main-content {
  height: 100vh;
  display: grid;
  grid-template: auto 2fr / 1fr;
  align-items: flex-start;
}

.nav-bar {
  max-height: 10%;
  display: grid;
  grid-template: 1fr/2fr 1fr;
  align-items: center;
  padding: 3em;
  gap: 1em;
  background-color: #0284c780;
  border-radius: 0 0 1em 1em;
}

.nav-bar .search-bar {
  justify-self: flex-start;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#city-name-search {
  appearance: none;
  background-color: #082f49;
  border-color: transparent;
  border-radius: 1em;
  padding: 0.5em 0.2em;
  width: 300px;
}

.nav-bar .search-bar .search-icon {
  width: 24px;
  height: 24px;
  content: url("../assets/ic_search.svg");
}

.nav-bar .search-bar .search-icon:hover {
  transition: all 0.1s ease;
  transform: scale(1.05);
}

.nav-bar .search-location {
  justify-self: flex-end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-align: end;
}

.content {
  align-self: center;
  justify-self: center;

  display: none;
  grid-template: auto 1fr / auto;
  align-items: flex-start;
  gap: 1em;
  padding: 1em;
  min-width: 70%;
}

.content .current-day-content,
.content .forecast-content .forecast-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: rgba(22, 52, 65, 0.5);
  border-radius: 1em;
  justify-items: center;
  align-items: center;
  gap: 1em;
}

.content .current-day-content {
  max-height: 400px;
  padding: 1em;
  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .weather-icon {
      width: 128px;
      height: 128px;
    }
    .weather-text {
      font-size: medium;
      font-weight: 700;
    }
  }
  .right-content {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;

    .data-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      gap: 1em;

      .data-card-value {
        font-size: x-large;
        font-weight: 600;
        text-align: center;
      }
      .data-card-label {
        font-size: small;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

.content .forecast-content {
  padding: 1em;

  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.content .forecast-content .forecast-card {
  font-size: medium;

  .left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .weather-icon {
      width: 64px;
      height: 64px;
    }
  }

  .right-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    .right-side-top-content {
      display: grid;
      gap: 1em;
      grid-template-columns: repeat(3, 1fr);

      .data-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1em;
        gap: 1em;

        .data-card-value {
          font-size: large;
          font-weight: 600;
          text-align: center;
        }
        .data-card-label {
          font-size: x-small;
          font-weight: 300;
          text-align: center;
        }
      }
    }
    .graph-container {
      padding: 1em;
    }
  }
}

.loading-page-container {
  align-self: center;
  justify-self: center;
  display: none;
}

.error-page-container {
  align-self: center;
  justify-self: center;
  display: none;
}

.error-page-container .error-text {
  font-size: large;
  font-weight: 700;
}
